.notAllowed{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.h{
    color: var(--secondary);
    font-family: "Open Sans Semibold";
    font-size: 1.5rem;
    width: auto;
}

.p{
    color: var(--text);
    font-family: "Open Sans Regular";
    font-size: 1rem;
    width: auto;
    max-width: 18rem;
    white-space: break-spaces;
    overflow: visible;
    text-overflow: clip;
    text-align: center;
}