.routine {
    position: relative;
    width: 100%;
    height: 4rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    padding: 0 0.5rem 0 0;
    box-sizing: border-box;
}

.routineContent {
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem 0 0.5rem;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.routineDisabled {
    width: 100%;
    height: 4rem;
    background-color: #a1a1a1;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    padding: 0 0.5rem 0 0;
    box-sizing: border-box;
}

.routineInfo {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 1;
    user-select: none;
    min-width: 0;
    overflow: hidden;
}

.routineActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.5rem;
}