.routineTabsContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.routineTabsContainer :global(.ant-tabs-tab) {
    background-color: var(--component-background) !important;
    border-color: var(--component-border) !important;
}

.routineTabsContainer :global(.ant-tabs-tab-active) {
    background-color: var(--component-active) !important;
}

.routineTabsContainer :global(.ant-tabs-tab:hover) {
    background-color: var(--component-interactive) !important;
}

.routineTabsContainer :global(.ant-tabs-content-holder) {
    background-color: transparent;
}

.routineTabsContainer :global(.ant-tabs-nav) {
    margin-top: 5px !important;
}

.routineTabsContainer :global(.ant-tabs-tab.drag-over) {
    background-color: rgba(24, 144, 255, 0.3) !important;
    border-color: rgba(24, 144, 255, 0.6) !important;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}