.routineTabsContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.routineTabsContainer :global(.ant-tabs-tab) {
    background-color: var(--component-background) !important;
    border-color: var(--component-border) !important;
}

.routineTabsContainer :global(.ant-tabs-tab-active) {
    background-color: var(--component-active) !important;
}

.routineTabsContainer :global(.ant-tabs-tab:hover) {
    background-color: var(--component-interactive) !important;
}

.routineTabsContainer :global(.ant-tabs-content-holder) {
    background-color: transparent;
}

.routineTabsContainer :global(.ant-tabs-nav) {
    margin-top: 5px !important;
}

.routineTabsContainer :global(.ant-tabs-tab.drag-over) {
    background-color: rgba(24, 144, 255, 0.3) !important;
    border-color: rgba(24, 144, 255, 0.6) !important;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.routineTabsContainer :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    color: var(--secondary) !important;
}

.routineTabsContainer :global(.ant-tabs-nav-wrap) {
    background-color: var(--component-background) !important;
    padding: 0rem 0.5rem 0.5rem; 
    box-sizing: border-box;
    user-select: none;
}

.modal{
    max-width: 25rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    margin-bottom: 1.5rem;
}

.modalText{
    width: auto;
    font-size: 0.9rem;
    color: white;
}

.modalFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}