.text {
    font-family: "Open Sans Regular";
    font-size: 1rem;
    color: var(--text);
    width: 100%;
    user-select: none;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}