.taskContainer{
  padding: 8px;
  background: #f0f0f0;
  border-radius: 6px;
  max-height: 300px;
  pointer-events: auto;
}

.noTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: gray;
    border-radius: 0 0 2px 2px;
}

.noTasks p{
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.4rem;
    color: var(--text-color);
}