body.kiosk,
body.kiosk * {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNgYAAAAAMAASsJTYQAAAAASUVORK5CYII="), auto !important;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("./assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("./assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Medium";
  src: url("./assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("./assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Extrabold";
  src: url("./assets/fonts/OpenSans-ExtraBold.ttf");
}

:root {
  font-family: "Open Sans Regular";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  margin: 0;
  width: 100svw;
  height: 100svh;
}


body {
  --sb-track-color: #b9b9b9;
  --sb-thumb-color: #000000;
  --sb-size: 16px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
  border: 4px solid #afafaf;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}