
:root{
      color-scheme: dark;

    --component-background: #2c2c2c;
    --component-border: #3a3a3a;
    --component-interactive: #444444;
    --component-active: #555555;

    --app-background: #242424;

    --primary: #0085ad;

    --secondary: #ffa136;

    --text: #ebebeb;
    --text-secondary: #aaaaaa;

    --error: #ff4d4f;
    --warning: #faad14;
    --info: #1890ff;
    --success: #52c41a;
    --unknown: #777777;

    --white: #ffffff;

    --text: #f1f1f1;
    --text-dark: #000000;

    --accent-color: rgba(247, 163, 37, 0.452);


    --routine: #0085ad;
    --task: #03a189;
    --trigger: #9e14fa;
    --job: #ffaa18;
    --condition: #13c2c2;
}

