.routineListView{
    display: flex;
    flex-direction: row;
}

.routineList{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.routinesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: min-content;
}

.noRoutines{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

p{
    margin: 0
}

.noRoutinesTitle{
    font-size: 1.2rem;
    font-family: "Open Sans Bold", sans-serif;
    color: var(--secondary);
}

.noRoutinesSubtitle{
    font-size: 1rem;
    font-family: "Open Sans Regular", sans-serif;
    color: var(--text-secondary);
}