.routineList{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    row-gap: 0.5rem;
    overflow-y: auto;
    flex: 1;
}

.routinesContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.noRoutines{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}