.wifiConfiguration{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    color: white !important;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item{
    margin-bottom: 0.5rem !important;
}

.labels{
    min-width: 8rem;
    text-align: left;
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer > *:first-child {
    margin-right: auto;
}
