.triggersContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--component-border);
    padding: 0.5rem;
    box-sizing: border-box;
    row-gap: 0.5rem;
    border-radius: 5px;
    flex: 1;
}

.triggersList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    overflow-y: auto;
}

.draggedItem{
    opacity: 0.8;
    cursor: grabbing;
}