.toolbar{
    z-index: 1;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: solid 1px var(--component-border);
    background-color: var(--component-background);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}