.licenseRequired {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    color: var(--text);
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    font-family: "Open Sans Bold";
    font-size: 2rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.licenseRequired h3 {
    font-family: "Open Sans Bold";
    font-size: 1.5rem;
}

p{
    font-family: "Open Sans Light";
    font-size: 0.9rem;
}