.configurationView {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--app-background);
    row-gap: 0.5rem;
}

.body {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    overflow-y: auto;
    padding-right: 10px;
}