.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/resources/images/background.png');
    background-size: 320px 320px;
    opacity: 0.8;
    filter: invert(1) contrast(1.0) brightness(0.2);
    z-index: -1;
}