.executionsView {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
    flex-direction: column;
    row-gap: 0.5rem;
}

.toolbarLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    padding: 0.5rem;
    column-gap: 0.5rem;
}

.toolbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}