.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    transition: all 0.1s ease;
}

.disabled{
    background-color: "#d3d3d3";
    cursor: not-allowed;
    pointer-events: none;
}

.button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.button:active{
    filter: brightness(0.5);
}