
.routineNode{
    display: flex;
    flex-direction: column;
    border-radius: var(--xy-node-border-radius-default);
    background-color: var(--xy-node-background-color-default);
    border: var(--xy-node-border, var(--xy-node-border-default));
    width: 150px;
    height: fit-content;
    row-gap: 0.5rem;
    position: relative;
    overflow: visible; /* importante */
}

.defaultNodeContentainer{
    position: relative;
    overflow: visible;
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: row;
}