.wifiSelect {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.wifiList{
    width: 100%;
    height: 200px;
    overflow-y: auto;
    background-color: var(--component-background);
    border: 1px solid var(--component-border);
    border-radius: 5px;
}

.SSIDName{
    width: auto !important;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.wifiOption {
    width: auto !important;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.wifiOptionSelected {
    background-color: var(--primary);
    color: white;
}
