.noProjectLoaded{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.noRoutines{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.noRoutinesTitle{
    font-size: 1.2rem;
    font-family: "Open Sans Bold", sans-serif;
    color: var(--secondary);
}

.noRoutinesSubtitle{
    font-size: 1rem;
    font-family: "Open Sans Regular", sans-serif;
    color: var(--text-secondary);
}

p{
    margin: 0
}
