.taskContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--component-border);
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    row-gap: 0.5rem;
    flex: 3;
    min-height: 10rem;
}

.listContainer{
    width: 100%;
    height: 100%;
    padding-right: 0.5rem;
}

.taskList{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.draggedItem{
    opacity: 0.7;
    cursor: grabbing;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    z-index: 9999;
    position: relative;
}