.RoutineSliderContainer {
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
}

.underComponent {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.underComponentLeft {
    right: 0;
    justify-content: flex-end;
}

.underComponentRight {
    left: 0;
    justify-content: flex-start;
}

.draggableContent {
    user-select: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: inherit;
}

.draggableContent.idle {
    cursor: grab;
}

.draggableContent.dragging {
    cursor: grabbing;
}

.childrenContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}