.statusTag{
    height: 100%;
    width: 0.5rem;
    transition: all 0.2s ease;
    overflow: hidden;
    z-index: 2;
}

.iconContainer{
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}